nav {
  display: flex;
  justify-content: center;
}
.sidebar {
  background-color: $dark;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  margin: 1rem;
  width: 100%;
}

.nav-item {
  margin: 0.2rem 0.5rem 0.5rem;
}

.nav-link {
  color: $light;
  font-family: $regular_font, 'Poppins', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.2rem;
    transition: all 0.3s;
  }

  .title {
    font-size: 0.8rem;
    height: 100%;
    transition: all 0.3s;
  }

  // &:hover {
  //   i {
  //     // transform: scale(1.1);
  //     // transform: translateY(-0.5rem);
  //     // box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  //   }

  //   .title {
  //     transform: translateX(0);
  //   }
  // }
}

.active {
  // position: absolute;
  background-color: $primary;
  border-radius: 100%;
  transform: translateY(-0.7rem) scale(1.1);
}
