---
const {label} = Astro.props;
---

<span
  class='z-10 absolute -right-2 -top-3 rounded-full text-neutral-900 bg-custom-orange bg-opacity-90 font-semibold tracking-wide text-sm flex align-center cursor-pointer active:bg-gray-300 transition duration-300 ease w-max'
>
  <span class='flex items-center px-3 py-1.5 leading-[0.8]'>{label}</span>
</span>
