---
import Container from '@components/Container.astro';
import CardPorfolio from './CardPorfolio.astro';

const projects = [
  {
    name: 'Pokedex App',
    description: "Crud for pokemon's desing to practice",
    stack: ['nextjs', 'nestjs', 'mongodb', 'tailwindcss'],
    label: 'FullStack',
    url: 'https://pokedex-next-khaki.vercel.app/',
    image: '/images/pokedex.webp',
  },
  {
    name: 'Qatar Fifa World Cup',
    description: "Web app to see Colombian's channel broadcasting Fifa world Cup Qatar 2022",
    stack: ['nextjs', 'tailwindcss'],
    label: 'FrontEnd',
    url: 'https://world-cup-nu.vercel.app/',
    image: '/images/qatar.webp',
  },
  {
    name: 'RedNodus',
    description: 'Platform to know digital offers for pymes',
    stack: ['ionic', 'bootstrap', 'angular universal'],
    label: 'FrontEnd',
    url: 'https://rednodus.net/',
    image: '/images/rednodus.webp',
  },
  {
    name: 'Balance App',
    description: 'Android app to managment my finances',
    stack: ['flutter'],
    label: 'Mobile',
    url: 'https://github.com/aragrevo/balance_app_flutter',
    image: '/images/balance.webp',
  },
  {
    name: 'Arkon Arquitectura integral',
    description: 'Landing page',
    stack: ['nextjs', 'tailwindcss'],
    label: 'FrontEnd',
    url: 'https://arkon-page.vercel.app/',
    image: '/images/arkon.webp',
  },
  {
    name: 'Gif App',
    description: 'Search Gif',
    stack: ['react', 'css', 'vite'],
    label: 'FrontEnd',
    url: 'https://aragrevo.github.io/GifExpertApp/',
    image: '/images/gifapp.webp',
  },
];
---

<section id='portfolio' class='bg-neutral-900 py-10 lg:py-20 is-dark transition-colors duration-1000'>
  <Container>
    <h2 class='text-5xl text-white block leading-none mb-10'>Projects</h2>
    <div class='grid grid-cols-12 gap-5'>
      {projects.map(project => <CardPorfolio {...project} />)}
    </div>
  </Container>
</section>
