@import './base/fonts';
@import './base/settings';
@import './base/base';
@import './pages/hero';
@import './pages/about';
@import './pages/building';
@import './components/sidebar';
@import './components/skills';
@import './components/skill';

main {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  overflow: hidden;
}

.app_container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: $light;
  max-width: 414px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba($color: $light, $alpha: 0.5), 0px -0px 10px rgba($color: $light, $alpha: 0.5);
  position: relative;
}

.app_hero,
.app__section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  min-width: 330px;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  max-width: 80%;
  display: flex;
}

@media only screen and (max-width: 413px) {
  .app_container,
  .app_hero,
  .app__section {
    height: 100vh;
    border-radius: 0px;
  }
}
