@import './base/fonts';
@import './base/settings';
@import './base/base';
@import './base/layout';
@import './pages/hero';
@import './pages/about';
@import './pages/building';
@import './pages/contact';

main {
  column-gap: 2.4rem;
  display: grid;
  grid-template-areas: 'sidebar main aside';
  grid-template-columns: minmax(300px, 7fr) minmax(0, 12fr) minmax(0, 5fr);
  grid-template-rows: auto;
  margin: 0 auto;
  padding-top: 78px;
  row-gap: 2.4rem;
  width: 1128px;
}

.sidebar {
  grid-area: 'sidebar';
}

@media screen and (max-width: 1176px) {
  main {
    width: 100%;
  }
}
