---
import Container from '@components/Container.astro';

import SocialButtons from '@components/SocialButtons.astro';

const links = [
  {
    title: 'Linkedin',
    href: 'https://www.linkedin.com/in/aragrevo/',
  },
  {
    title: 'Mail',
    href: 'mailto:eduardo.vergara.dev@outlook.com',
  },
  {
    title: 'Github',
    href: 'https://github.com/aragrevo',
  },
  {
    title: 'Curriculum',
    href: 'https://docs.google.com/document/d/1cURfkhrg3dhmSeKqbgEfdbP5rh16XIdp1qvIeQRbShs/edit?usp=sharing',
  },
];
---

<section id='contact-me' class='bg-neutral-900 py-10 lg:py-20'>
  <Container>
    <h2 class='text-5xl text-white block leading-none mb-10'>Contact Me</h2>

    <footer class='bg-transparent'>
      <ul class='grid grid-cols-2 gap-8 md:grid-cols-4 text-slate-400 dark:text-slate-400'>
        {
          links.map(({title, href}) => (
            <li class='mb-4'>
              <a href={href} target='_blank' class='hover:underline'>
                {title}
              </a>
            </li>
          ))
        }
      </ul>
      <div class='pt-6 flex items-center justify-between'>
        <span class='text-sm text-slate-400 dark:text-slate-400 sm:text-center'
          >2023. Built with <a href='https://astro.build'>{Astro.generator}</a></span
        >
        <SocialButtons />
      </div>
    </footer>
  </Container>
</section>
