---
import AboutMe from '@components/about_me/AboutMe.astro';
import ContactMe from '@components/contact_me/ContactMe.astro';
import Hero from '@components/Hero.astro';
import Portfolio from '@components/portfolio/Portfolio.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Aragrevo Dev'>
  <main>
    <Hero />
    <Portfolio />
    <AboutMe />
    <ContactMe />
  </main>
</Layout>
