---
import Github from '@components/icons/Github.astro';
import Linkedin from '@components/icons/Linkedin.astro';
import ButtonShare from './ButtonShare.astro';

const NetworksEnum = {
  linkedin: 'Linkedin',
  github: 'Github',
  instagram: 'Instagram',
  twitter: 'Twitter',
  share: 'Share',
};

const socialNetworks = [
  {
    name: NetworksEnum.linkedin,
    href: 'https://www.linkedin.com/in/aragrevo/',
  },
  {
    name: NetworksEnum.github,
    href: 'https://github.com/aragrevo',
  },
];
---

<div class='flex space-x-6 sm:justify-center md:mt-0'>
  {
    socialNetworks.map(({name, href}) => (
      <a href={href} target='_blank' class='text-slate-400 hover:text-blue-700 dark:hover:text-white'>
        {name === NetworksEnum.linkedin && <Linkedin />}
        {name === NetworksEnum.github && <Github />}
        <span class='sr-only'>{name} page</span>
      </a>
    ))
  }
  <ButtonShare />
</div>
