<button
  id='dark_mode'
  title='Dark mode'
  class='absolute w-7 h-7 sm:w-10 sm:h-10 top-0 right-1/2 translate-x-1/2 sm:translate-x-0 sm:right-0 xl:right-2 dark-invert'
>
  <img
    class='aspect-square'
    src='/icons/dark.svg'
    alt='Dark mode'
    width='40'
    height='40'
    decoding='async'
    fetchpriority='low'
  />
</button>
<script type='module'>
  const btnDark = document.querySelector('#dark_mode');
  btnDark.addEventListener('click', e => {
    document.documentElement.classList.toggle('dark');
  });
</script>
