* {
  margin: 0;
  padding: 0;
  font-family: $regular_font, 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
  li {
    list-style: none;
  }
}

::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: $light;
  }

  &-thumb {
    background: $dark;
    // border-radius: 10px;
  }
}

::root {
  scrollbar-color: $light $dark !important;
  scrollbar-width: thin !important;
}
